@charset "utf-8";
/* CSS Document */

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCC -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
.symbiostock_networkr {
}
.symbiostock_networkr input[type="text"] {
	
	width: 75%;
}

.symbiostock_action_arrows{
	float: right;
	margin-right: 20px;
	}
.symbiostock_action_arrows img, .symbiostock_remove_network img, #add_row img{
	opacity: 0.2;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
	margin-right: 0;
	padding-right: 0;
	display: block;
	clear: both;
	float: right;	
	}
.symbiostock_action_arrows img:hover, .symbiostock_remove_network img:hover, #add_row img:hover{	
    opacity: 1.0;
    transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -webkit-transition: opacity .10s ease-in-out;
}
.symbiostock_remove_network{
	float: right;
	}
.network_member_info {
	opacity: 0.5;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
	}
.network_member_info:hover {
    opacity: 1.0;
    transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -webkit-transition: opacity .10s ease-in-out;	
	}	
a#remove{
	color: #FF8080;
	font-size: 18px;
	}
a#remove:hover {
	color: #F00;
	}
#symbiostock-image-meta div label {
	width: 100px;
	float: left;
}
#symbiostock-image-meta select {
	width: 100px;
	}
.symbiostock_settings {
	
	width: 500px;
	
	}
/* uploader */
#symbiostock_uploader_container{
width: 50%;
min-width: 400px;
}
#symbiostock_uploader_container .supported {
	text-align: center;
	}
#symbiostock_uploader_container .info {
	padding-left: 10px;
	}		
#symbiostock_uploader_container h1{
	text-align: center;
	}	
/* processor */
.symbiostock-image-processor {
	
	width: 75%;
	margin-top: 20px;
	}
.symbiostock-image-processor .key {
	
	background-color: #f1f1f1;
	
	}	
	
.symbiostock-image-processor .check_info .negative{
	color: #900;
	
	}
.symbiostock-image-processor .check_info .positive{
	color: #060;
	
	}
.symbiostock-image-processor .check_info .neutral{
	color: #F60;
	
	}	
.symbiostock-image-processor .check_info  img{
	display: inline;
	padding-right: 10px;
	
	}
.admin_preview_pic{
  opacity: .5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
	}
.admin_preview_pic:hover{
  opacity: 1;
	}		
.preview_pic{
	padding: 10px;
	border: 1px #E6E6E6 solid;
	display: block;
	}	
/*------network page-----*/
.network_links th{
	color: #464646;
	font-size: 18px;
		
	}
.network_links .little_desc, td .little_desc{
	font-size: 14px;
	color: #999;
	font-style: oblique;
	}	
.get_csv td{
	font-size: 14px;	
	}
.get_csv img{
	display: block;
	float: left;
	}
#symbiostock_network_container div{
	
	}
.symbiostock_frame_container{
	margin: 10px;
	padding: 10px;	
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 0;
	padding-left: 0;
	}
	
#symbiostock_network_header,
#symbiostock_network_main,
#symbiostock_network_sidebar,
#symbiostock_network_update,
#symbiostock_network_footer{
	
	}
#symbiostock_network_header{
	width: 100%;
	
	}
#symbiostock_network_main{
	width: 66%;
	float: left;
	}
#symbiostock_network_sidebar{
	width: 33%;
	float: left;
	}
#symbiostock_network_update{
	width: 100%;
	clear: both;
	}
#symbiostock_network_footer{
	width: 100%;
	clear: both;
	}
th.symbiostock_network_site_header{
	width: 75px;
	}
.longfield{
	width: 50%;
	}
.savelink{
	text-align: center;
	}
.paypal_donate{
	-webkit-border-radius: 5px;    
    border-radius: 5px;
	float: right;
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .1);        
	box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .1);	
	}
.paypal_donate span{
	color: #666;
	font-size: 10px;
	}	
	
.symbiostock_help{
	width: 50%;
	margin-bottom: 500px;
	}
.symbiostock_help .help_topics{
	
	padding-left: 30px;
	
	
	}	
.symbiostock_help .help_topics ul li{
	
	border-bottom: 1px solid #CCC;
	}		